<!DOCTYPE html>
<html>
  <head>
    <title>IdeasOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
        <%= link_to "Idea Factory", root_path, class: "navbar-brand text-primary" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarNavAltMarkup">
          <ul class="navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item mx-2">
              <%= link_to("Home", ideas_path, class: "nav-link text-primary") %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to("New Idea", new_idea_path, class: "nav-link text-primary") %>
            </li>
            <% if user_signed_in? %>
              <span class="navbar-text mx-2">
                Hello <%= current_user.full_name %>
              </span>
              <li class="nav-item mx-2">
                <%= link_to "Sign Out", session_path, method: :delete, 
                    data: {confirm: "Are you sure you want to sign out?"}, 
                    class:"btn btn-dark" %>
              </li>
            <% else %>
              <li class="nav-item ml-2">
                <%= link_to "Sign In", new_session_path, class:"btn btn-dark" %>
                <%= link_to "Sign Up", new_user_path, class:"btn btn-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
	    <% flash.each do |type, message| %>
        <div class="alert alert-<%=flash_class(type)%> alert-dismissible fade show">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
